@model Project.Models.ApplicationUser

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h4>@ViewData["Title"]</h4>

<div class="nav navbar">

</div>
<div class="col-md-12">
    <form asp-action="Update">
        <div class="card-body">
            <div class="form-group">
                <label asp-for="FirstName">First name</label>
                <input asp-for="FirstName" class="form-control" disabled />
            </div>
            <div class="form-group">
                <label asp-for="LastName">Last name</label>
                <input asp-for="LastName" class="form-control" disabled />
            </div>
            <label asp-for="Email">Email</label>
            <div class="form-group">
                <input asp-for="Email" class="form-control" />
                @if (Model.EmailConfirmed)
                {
                    <span class="input-group-addon" aria-hidden="true"><span class="glyphicon glyphicon-ok text-success"></span></span>
                }
                else
                {
                    <button asp-action="SendVerificationEmail" class="btn btn-default" style="margin-top: 10px;">Send verification email</button>
                }
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <hr />
            <div class="form-group">
                <label asp-for="PhoneNumber">Phone number</label>
                <input asp-for="PhoneNumber" class="form-control" placeholder="Ex: +37061212345" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Subscribed">Send emails</label>
                <input asp-for="Subscribed" class="checkbox" />
            </div>
            <div class="col-md-4">
                <input type="submit" class="btn btn-success btn-block" value="Update profile">
            </div>
            <div class="col-md-4 col-md-offset-4">
                <input type="submit" class="btn btn-danger btn-block" value="Delete profile">
            </div>
        </div>
    </form>
</div>
