<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - E</title>

    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="margin-top: -50px; margin-bottom: 10px">
        <a class="navbar-brand" asp-controller="Home" asp-action="Index">Project E</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navdata">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navdata">
            <div class="mr-auto">
                <ul class="nav navbar-nav">
                    <li class="nav-item"><a class="nav-link" asp-controller="Inventory" asp-action="Index">Invenotory</a></li>
                    <li class="nav-item"><a class="nav-link" asp-controller="Services" asp-action="Index">Services</a></li>
                    @if (User.IsInRole("Manager"))
                    {
                        <li class="nav-item"><a class="nav-link" asp-controller="Reports" asp-action="Index">Reports</a></li>
                    }
                </ul>
            </div>
            <div class="ml-auto">
                <partial name="_LoginPartial" />
            </div>
        </div>
    </nav>

    <partial name="_CookieConsentPartial" />

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2018 - E</p>
        </footer>
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>