@using Microsoft.AspNetCore.Identity

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <ul class="nav navbar-nav">
        <li>
            @if (User.IsInRole("Manager"))
            {
                <form class="form-inline">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                </form>
            }
        </li>
        <li class="nav-item"><a class="nav-link" asp-controller="Manage" asp-action="All">Users</a></li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown">
                Hello @((await UserManager.GetUserAsync(User)).FirstName)!
            </a>
            <div class="dropdown-menu">
                <a class="dropdown-item" asp-controller="Manage" asp-action="Index" title="Manage">Manage</a>
                <a class="dropdown-item" asp-controller="Checkout" asp-action="Index">Cart 🛒</a>
                <div class="dropdown-divider"></div>
                <form asp-controller="Account" asp-action="Logout" method="post" id="logoutForm">
                    <input class="dropdown-item" type="submit" style="cursor: pointer" value="Logout" />
                </form>
            </div>
        </li>
    </ul>
}
else
{
    <ul class="nav navbar-nav ml-auto">
        <li class="nav-item"><a class="nav-link" asp-controller="Account" asp-action="Register">Register</a></li>
        <li class="nav-item"><a class="nav-link" asp-controller="Account" asp-action="Login">Login</a></li>
    </ul>
}
