@model Invoice

@{
    ViewData["Title"] = "Continue";
}

<br />
<div>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Quantity</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model.Cart.OrderedInventoryItems)
        {
            <tr>
                <td>@item.InventoryItem.Name</td>
                <td>@item.InventoryItem.Price</td>
                <td>@item.Quantity</td>
            </tr>
        }
        </tbody>
    </table>
</div>


<div class="container">
    <div class="col-md-4 col-md-offset-4">
        <form asp-action="Continue" method="post" id="confrimCheckout">
            <div class="form-group">
                <div style="text-align: left"><label asp-for="DeliveryAddress">Address:</label></div>
                <input asp-for="DeliveryAddress" class="form-control" placeholder="Delivery address" />
                <span asp-validation-for="DeliveryAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div style="text-align: left"><label asp-for="PhoneNumber">Phone number:</label></div>
                <input asp-for="PhoneNumber" class="form-control" placeholder="Ex: +37061212345" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div style="text-align: left"><label asp-for="Email">Email:</label></div>
                <input asp-for="Email" class="form-control" placeholder="Notification email" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div>
                <input type="submit" value="Place order" class="btn btn-success btn-block" style="margin-top: 5px" />
                <a asp-action="Index" class="btn btn-warning btn-block" style="margin-top: 5px">Return</a>
            </div>
        </form>
    </div>
</div>
@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
