@model Project.Models.Cart

<div class="col-md-12">
    <br/>
    <a asp-action="History" class="btn btn-block btn-info">History</a>
</div>

@if (Model == null || Model.TotalValue == 0)
{
    <h2>Cart is empty</h2>
}
else
{
    <br />
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Price</th>
                <th>Quantity</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.OrderedInventoryItems)
            {
                <tr>
                    <td>@item.InventoryItem.Name</td>
                    <td>@item.InventoryItem.Price</td>
                    <td>@item.Quantity</td>
                </tr>
            }
        </tbody>
    </table>
    <a asp-action="Continue" class="btn btn-block btn-success">Continue!</a>
}